body, html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.list {
  border: 3px solid black;
}

.list .header, .character {
  align-items: center;
  border-bottom: 3px solid black;
  display: flex;
}

.header {
  background-color: white;
}

.character.active {
  background-color: lightgray;
}

.character:last-child {
  border: none;
}

.character > div, .header > div {
  flex-basis: 0;
  flex-grow: 1;
  padding: 5px;
  text-align: center;
}

.character .info {
  color: white;
}

.character .info h2 {
  margin: 0;
  padding: 0;
}

.character .stat {
  font-size: 20px;
}

.character .stat button {
  margin: 0 5px;
}

.controls {
  padding: 20px;
  text-align: center;
}

.controls button {
  margin: 0 10px;
  padding: 5px;
  font-size: 20px;
}

.form {
  padding: 20px;
  padding-top: 0;
  text-align: center;
}

.form > * {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}